<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img class="card-img" src="" id="imagepreview">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function enlarge(event) {
        let element = event.target;
        console.log(element)
        $('#imagepreview').attr('src', element.getAttribute('src'));
        $('#imagemodal').modal('show');
    }
</script>
