<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/style.css">
        <script src="javascripts/jquery.min.js"></script>
        <script src="javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/database.js"></script>
        <script src="/javascripts/idb.js"></script>
        <script src="/javascripts/app.js"></script>
    </head>
    <body>
        <nav class="navbar fixed-bottom navbar-light bg-light">
            <a class="navbar-brand" href="create">
                <img src="/images/plus.png" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand" href="search">
                <img src="/images/search.png" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand" href="/home">
                <img src="/images/home.png" width="40" height="40" alt="">
            </a>
            <a class="navbar-brand" href="map">
                <img src="/images/calandar.png" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand" href="profile">
                <img src="/images/profile.png" width="30" height="30" alt="">
            </a>
        </nav>

        <h1>Change your password</h1>
        <br>
        <form onsubmit="onChangePassword()">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Old password</span>
                </div>
                <input type="password" class="form-control" name="oldPassword" aria-label="Old password" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">New password</span>
                </div>
                <input type="password" class="form-control" name="newPassword" aria-label="New password" aria-describedby="basic-addon1">
            </div>
            <button type="submit" class="btn btn-outline-success btn-lg">Submit</button>
        </form>
    </body>
</html>
