<%- include('layout/header'); -%>
<div class="container">
    <div class="col-sm-8 offset-sm-2">
    <br><br>
        <%# <h1 class="text-center">Create a story</h1> %>
        <a href="/story/create" class="btn btn-secondary btn-lg btn-block" role="button">Create a story</a>
        <br>
        <%# <h1 class="text-center">Create an event</h1> %>
        <a href="/event/create" class="btn btn-secondary btn-lg btn-block" role="button">Create an event</a>
        <br>
    </div>
</div>
<%- include('layout/footer'); -%>
